<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="description"
          content="Kansas City locals helping Kansas City government and local organizations open their data and create meaningful tools"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".navbar">

<!-- NAVBAR
================================================== -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#maincontent" class="skiplink">Skip to content</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">Code for Kansas City</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                <li><a target="_blank" href="http://www.meetup.com/kcbrigade/">Events</a></li>
                <!-- <li><a href="{{ site.baseurl }}/blog">Blog</a></li> -->
                <li><a href="{{ site.baseurl }}/welcome.html">Welcome</a></li>
    	    <li><a href="{{ site.baseurl }}/code-of-conduct.html">Code of Conduct</a></li>
                <li><a target="_blank"
                       href="https://docs.google.com/forms/d/1mRZJld_CPvCcS-WxhI3aDNRO9Fkpm0zK8dlpczG5i_4/viewform?c=0&w=1">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/codeforkansascity" title="GitHub"><i class="fa fa-github fa-lg"></i></a>
                </li>
                <li><a href="http://meetup.com/kcbrigade" title="Meetup"><i class="fa fa-users fa-lg"></i></a></li>
                <li><a href="https://twitter.com/codeforkc" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a></li>
                <li><a href="http://eepurl.com/7gbQP" title="Mailing List"><span class="glyphicon glyphicon-envelope"
                                                                                 aria-hidden="true"></span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

{% if page.is_front %}
<!-- Alert for At Meetup Checkin Form
         <div class="alert alert-success visible-xs" role="alert">
  <span class="glyphicon glyphicon-ok-sign pull-left" style="font-size:24pt;"></span>
  If you're currently at the Meetup, <a href="https://docs.google.com/forms/d/1kcHc3gZQXVHkLg2mxXfjEiPeyVZWf6__HrbAqftZuFE/viewform">why not check in?</a>
</div> -->

<!-- Carousel - only using one at the moment
================================================== -->
<div id="banner" class="carousel slide" data-ride="carousel" data-interval="20000">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#banner" data-slide-to="0" class="active"></li>
      <li data-target="#banner" data-slide-to="1"></li>
    </ol> -->

    <div class="carousel-inner">

        <div class="item active">
            <div class="container">
                <div class="jumbotron col-md-12">
                    <img src="http://www.davidlacrone.com/home/hack-kc.png"/>

                    <div class="row">
                        <p class="lead col-md-10 col-md-offset-1">
                            Join Code for Kansas City and
                            KC Digital Drive for <strong>Hack Kansas City</strong>
                            and help us #HackforChange
                        </p>
                    </div>
                    <a class="btn btn-success btn-lg" href="{{ site.baseurl }}/hackkc.html">Learn More</a>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container">
                <div class="jumbotron col-md-12">
                    <h1>We are Code for <br/> Kansas City</h1>

                    <div class="row">
                        <p class="lead col-md-10 col-md-offset-1">
                            Join developers, designers, data geeks, policy buffs and idea makers working with local
                            government to make Kansas City a better place through civic hacking and open data.
                        </p>
                    </div>
                    <a class="btn btn-success btn-lg" href="#callouts">Learn More</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /.carousel -->

<div class="container kcmarketing">
    <div class="row" id="callouts">
        <div class="col-md-4">
            <img src="{{ site.baseurl }}/images/brigade.150.png">

            <h1>Join the Brigade</h1>

            <p class="lead callout">We'd love to have you at our Meetups.<br></p>
            <a class="btn btn-success btn-lg" href="http://www.meetup.com/kcbrigade" target="_blank">MEET US</a>
        </div>
        <div class="col-md-4">
            <img src="{{ site.baseurl }}/images/noun_91769.150.png">

            <h1>Find a Project</h1>

            <p class="lead callout">We’re committing code for good.<br></p>
            <a class="btn btn-success btn-lg" href="{{ site.baseurl }}/projects">VIEW MORE</a>
        </div>
        <div class="col-md-4">
            <img src="{{ site.baseurl }}/images/noun_86192.150.png">

            <h1>Submit an Idea</h1>

            <p class="lead callout">Got an idea to make government run better?</p>
            <a class="btn btn-success btn-lg" href="http://goo.gl/forms/dXz7QfBBfl" target="_blank">TELL US</a>
        </div>
    </div>
</div>

{% elsif page.is_nocd_2015 %}


    <div class="container">
        <div class="row ">
            <div class="col-lg-6">
                <img src="http://www.davidlacrone.com/home/hack-kc.png"/>
            </div>
            <div class="col-lg-6">
                <h2>Code for Kansas City<br />KC Digital Drive<br />UMKC School of Law</h2>
            </div>
        </div>
    </div>
    <!-- /full-width-image-1 -->

{% else %}
<!-- FEATURED IMAGE AND INTRO -->
<div class="title-parent">

    <div class="wide" {% if page.image %}
         style="background: #000000 url('{{ site.baseurl }}/images/projects/{{ page.image }}') no-repeat top center; background-size: cover;"
         {% else %} style="background: #cf1b41; color: #FFF;" {% endif %}>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="title col-md-7">
                    <h1>{{ page.title }}</h1>

                    <p class="lead">{{page.excerpt}}</p>
                </div>
            </div>
        </div>
        <!-- /full-width-image-1 -->
    </div>
    <!-- /title-parent -->

{% endif %}

    <div class="container">
